

  <body class='body'>
  <div class="jumbotron text-center">
      <div class="container">
          <h1 class="display-2 text-black text-bold">Welcome to The Undertower!</h1>
          <p> <p class="lead text-black text-bold">A place to review books!</p> 
      </div>
  </div>

<div class="container">
    <% @reviews.each do |r|%>
    <div> <%= r.title %> - <%= r.comment %> - <%= r.user.name %> </div>
    <% end %>
</div>


</body>


</body>
